aside {
    margin-bottom : 10px;
    margin-top    : 6px;
}

header {
    cursor        : pointer;
    padding-top   : 6px;
    margin-bottom : 5px;

    &:hover {
        text-decoration : underline;
    }
}

h3 {
    line-height    : 3.65;
    white-space    : nowrap;
    margin-left    : -32px;
    margin-right   : -32px;
    padding-top    : 3px;
    letter-spacing : 1.3px;
    text-align     : center;

    &.hidden {
        opacity : 0;
    }

    > span {
        display : block;
    }
}

h2, h4 {
    display : inline;
}

h2 {
    font-family : 'Hershey Times Bold', sans-serif;
}

// image wrapper
div + div {
    display        : flex;
    align-items    : center;
    flex-direction : column;
}

img {
    max-width     : 100%;
    max-height    : 466px;
    margin-top    : 3px;
    margin-bottom : 3px;
}

:host /deep/ aside {
    a {
        text-decoration : underline;
    }

    i {
        font-family : 'Hershey Times Italic', sans-serif;
    }
}

@media all and (max-width : 550px) {
    h3 {
        letter-spacing : 0.27vw;
    }
}