h3 {
    font-family    : 'Trois A Chiffre Regular', sans-serif;
    font-size      : 18px;
    line-height    : 3.6;
    white-space    : nowrap;
    margin-left    : -32px;
    margin-right   : -32px;
    letter-spacing : 1.18px;
    position       : relative;
    top            : 23px;
}