h3 {
    font-family    : 'Trois A Chiffre Regular', sans-serif;
    font-size      : 18px;
    line-height    : 3.6;
    white-space    : nowrap;
    margin-left    : -32px;
    margin-right   : -32px;
    letter-spacing : 1.18px;
    position       : relative;
    top            : 23px;
}

h2, h4 {
    display : inline;
}

h2 {
    font-weight : 700;
}

// image wrapper
div + div {
    display        : flex;
    align-items    : center;
    flex-direction : column;
}

img {
    max-width     : 100%;
    max-height    : 466px;
    margin-top    : 3px;
    margin-bottom : 3px;
}