<aside [innerHTML]="datas?.about"></aside>
<header id="aboutPreview" #aboutPreview (click)="onClickOnAboutPreview()">
    Trois&nbsp;a est un espace de travail partagé et de programmation artistique épisodique, situé 3A rue de Turin, dans le quartier Bonnefoy, à Toulouse.
</header>
<ul>
    <li #eventWrapper *ngFor="let event of datas?.events">
        <h3 class="custom-font">
            <span *ngFor="let date of event.dates">{{formatEventDate(date)}}</span>
        </h3>
        <div>
            <h2>{{event.name}}</h2>
            <span>&nbsp;</span>
            <h4 [innerHTML]="event.description | nl2br"></h4>
        </div>
        <div *ngFor="let url of getEventImages(event)">
            <img src="{{url}}">
        </div>
    </li>
</ul>