header {
    position : fixed;
    top      : 0;
    left     : 0;
    z-index  : 1;
    width    : 100%;

    > div {
        max-width : 540px;
        margin    : auto;
        position  : relative;

        div {
            position : absolute;
            height   : 70px;

            &:first-child {
                left : 5px;
            }

            &:last-child {
                right : 5px;
                h1 {
                    right : 0;
                }
            }

            h1 {
                position    : absolute;
                top         : 8px;
                line-height : 64px;
                cursor      : pointer;
            }
        }
    }
}

main {
    max-width      : 540px;
    margin         : auto;
    padding-bottom : 15px;

    div {
        margin-left  : 35px;
        margin-right : 35px;
    }
}

app-main-page {
    display      : block;
    margin-left  : 2px;
    margin-right : 2px;
}

@media all and (max-width : 550px) {
    header > div div h1 {
        line-height : 12vw;
    }

    main div {
        margin-left  : 6.5vw;
        margin-right : 6.5vw;
    }
}