header {
    position : fixed;
    top      : 0;
    left     : 0;
    z-index  : 1;
    width    : 100%;

    div {
        max-width : 530px;
        margin    : auto;
        position  : relative;

        h1 {
            position    : absolute;
            top         : 7px;
            font-family : 'Trois A Chiffre Test', serif;
            font-size   : 18px;
            line-height : 64px;
            cursor      : pointer;

            &:first-child {
                left : 0;
            }

            &:last-child {
                right : 0;
            }
        }
    }
}

main {
    max-width      : 530px;
    margin         : auto;
    padding-bottom : 15px;

    div {
        margin-left  : 30px;
        margin-right : 30px;
    }
}

app-main-page {
    display      : block;
    margin-left  : 2px;
    margin-right : 2px;
}