@import "assets/fonts/font.css";
@import "assets/styles/reset.css";
@import "assets/styles/scrollbar.css";

body {
    font-family : 'Hershey Times', sans-serif;
    font-size   : 18px;
    line-height : 1.2;
    text-align  : justify;
    hyphens     : auto;
}