@font-face {
    font-family : 'Hershey Times Regular';
    src         : url('./hershey_times-Regular.otf');
}

@font-face {
    font-family : 'Hershey Times Bold';
    src         : url('./hershey_times-Bold.otf');
    font-weight : 700;
}

@font-face {
    font-family : 'Trois A Chiffre Regular';
    src         : url('./trois_a_chiffre-Regular.otf');
}